body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

header {
    background-color: #343a40;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #ffc107;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
}
